@media (min-width: 768px) {
    .custom-sidebar.g-sidenav-pinned .sidenav.fixed-left + .main-content {
        margin-left: 250px !important;
        transition: none !important;
    }

    .custom-sidebar.g-sidenav-pinned .sidenav.fixed-right + .main-content {
        margin-right: 250px !important;
        transition: none !important;
    }
}

@media (min-width: 768px) {
    .custom-sidebar.g-sidenav-pinned .main-content-nav {
        margin-left: 250px !important;
    }
}

@media (max-width: 576px) {
    .custom-sidebar .sidenav.navbar.shadow-none {
        box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
    }
}

.custom-sidebar
    .navbar-vertical.navbar-expand-xs
    .navbar-nav
    > .nav-item
    > .nav-link.active {
    color: #131415;
    font-weight: 600;
}

.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item > .nav-link.active {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 0.375rem;
    background: #f6f9fc;
    color: var(--default);
}
