@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./lib/argon/scss/argon.scss";
@import "./sass/sidebar";

*:before,
*:after {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    padding: 0;
    margin: 0;
}

.swup-progress-bar {
    height: 4px;
    background-color: rgb(0, 0, 255);
}
